@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.lexend-deca-400-font {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;;
}
.inter-400-font {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.inter-700-font {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-styles {
    background-color: hsl(233, 47%, 7%);
}

.main-heading {
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    font-size: 26px;
    text-align: center;
}

.accent-main-title {
    color: hsl(277, 64%, 61%);
}

.main-paragraph {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    border: 1px solid yellowgreen;
}

.main-image {
    width: 50%;
}

.uppercase-text {
    text-transform: uppercase;
}

/* .stats-headings {
    color: hsla(0, 0%, 100%, 0.6);
    display: flex;
    justify-content: space-between;
}

.stats-numbers {
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: flex-start;
} */

/* - Mobile: 375px
- Desktop: 1440px */

/* if the device width is less than or equal to 375px, then do... */
@media only screen and (max-width: 375px) {
    body {
        
        border: solid 1px yellow;
    }

    .container {
        margin: 2rem 4rem;
        border: 3px solid hotpink;
    }

    .main-image {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
    
    #stats-headings {
        /* color: hsla(0, 0%, 100%, 0.6); */
        color: red;
        /* display: flex;
        justify-content: space-between; */
        border: solid orange 1px;
        font-size: 15px;
    }

.stats-numbers {
    color: hsl(0, 0%, 100%);
    color: yellow;
    font-size: 15px;
    /* display: flex;
    justify-content: flex-start; */
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }