@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.lexend-deca-400-font {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;;
}
.inter-400-font {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.inter-700-font {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid honeydew;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    /* margin: 5rem; */
    background-color: hsl(244, 38%, 16%);
}

.body-styles {
    background-color: hsl(233, 47%, 7%);
}

.main-heading {
    color: hsl(0, 0%, 100%);
    /* margin: 5rem; */
    font-size: 25px;
    /* padding: 1.5rem 1.5rem 1rem 3rem; */
    /* border: solid 1px lightskyblue; */
}

.mobile-image {
    display: none;
}

.desktop-image {
    border-radius: 0 10px 10px 0;
    object-fit: cover;
    opacity: 0.6;
    width: 100%;
}

.image-container-overlay { 
    background: hsl(277, 64%, 61%);
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
}

.accent-main-title {
    color: hsl(277, 64%, 61%);
}

.main-paragraph {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    /* margin-bottom: 5.5rem; */
    line-height: 1.5rem;
    /* border: solid 1px lightyellow; */
}

.uppercase-text {
    text-transform: uppercase;
}

.stats-container {
    display: flex;
}

#companies > p,
#queries > p,
#templates > p {
    color: hsl(0, 0%, 100%, 0.5);
    white-space: pre-line;
    font-size: 12px;
    letter-spacing: 1.5px;
    padding-right: 2em;
    padding-bottom: 2em;
}

.stats-numbers {
    color: hsl(0, 0%, 100%);
    margin-bottom: 0.5rem;
    font-size: 22px;
}



/* footer */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsl(0, 0%, 100%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}



/* - Mobile: 375px
- Desktop: 1440px */

/* if the device width is less than or equal to 415px, then do... */
@media only screen and (max-width: 415px) {
    .container {
        margin: 2rem 4rem;
        background-color: hsl(244, 38%, 16%);
        border-radius: 10px;
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .main-paragraph {
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 12px;
        padding: 0 1rem;
        text-align: center;
        line-height: 1.3rem;
        margin-bottom: 2rem;
    }
    
    .stats-container {
        text-align: center;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    .stats-numbers {
        color: hsl(0, 0%, 100%);
        margin-bottom: 0.3rem;
        font-size: 22px;
    }

    .stats-headings {
        color: hsla(0, 0%, 100%, 0.6);
        font-size: 12px;
        letter-spacing: 1.5px;
        margin-bottom: 2rem;
    }

    #stats-headings-last-heading {
        margin-bottom: 0;
    }
    
    

}
